body {
  display: flex;
  justify-content: center; /* rata tengah horizontal */
  align-items: center; /* rata tengah vertikal */
  min-height: 100vh; /* supaya penuh layar */
  margin: 0;
  background-color: #f5f5f5;
}

.container {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  border-radius: 10px;
  margin: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  line-height: 1.5;
}

.intro {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1 solid #e5e5e5;
  background: #f5f5f5;
  margin-bottom: 20px;
}

.data-diri {
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1 solid #e5e5e5;
  background: #f5f5f5;
}

.sub-title {
  text-align: center;
  margin: 10px;
}

.cta-satu {
  padding: 10px;
  border-radius: 8px;
  background-color: #14213d;
  color: #e5e5e5;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cta-dua {
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #14213d;
  border: 2px solid #14213d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.cta {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* tombol di tengah horizontal */
  gap: 15px;
}

.cta-satu:hover {
  color: #14213d;
  border: 2px solid #14213d;
  background-color: #fca311;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.cta-dua:hover {
  color: #14213d;
  border: 2px solid #fca311;
  /* background-color: #fca311; */
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.icons {
  display: flex;
  justify-content: end;
  margin-top: 12px;
  gap: 20px;
}
